/*
*
*  File: help.rc
*
*  Description:  This resource file contains the Help table and subtable
*                resources used by the help manager.
*
*  (c) 1997 by *FSA & NHA Inc.
*
*/
#define __I_AM_HELP__
#include "..\xdsbase.h"

HELPTABLE   SHELL_HELP_TABLE
{
    HELPITEM    RES_MAIN,        SUBTABLE_MAIN,           PANEL_MAIN
}

HELPSUBTABLE SUBTABLE_MAIN
SUBITEMSIZE     2
{
  HELPSUBITEM     IDM_FILE,             PANEL_FILE
  HELPSUBITEM     IDM_FILENEW,          PANEL_FILENEW
  HELPSUBITEM     IDM_FILELOAD,         PANEL_FILELOAD
  HELPSUBITEM     IDM_FILERELOAD,       PANEL_FILERELOAD
  HELPSUBITEM     IDM_FILESAVE,         PANEL_FILESAVE
  HELPSUBITEM     IDM_FILESAVEAS,       PANEL_FILESAVEAS
  HELPSUBITEM     IDM_FILESAVEALL,      PANEL_FILESAVEALL
  HELPSUBITEM     IDM_FILEPRINT,        PANEL_FILEPRINT
  HELPSUBITEM     IDM_FILEAUTOSAVE,     PANEL_FILEAUTOSAVE
  HELPSUBITEM     IDM_FILEMAXNEW,       PANEL_FILEMAXNEW
  HELPSUBITEM     IDM_FILEBAK,          PANEL_FILEBAK
  HELPSUBITEM     IDM_FILE1AUTOWIN,     PANEL_FILEUSE1AUTOWIN

  HELPSUBITEM     IDM_EDIT,             PANEL_EDIT
  HELPSUBITEM     IDM_EDITUNDO,         PANEL_EDITUNDO
  HELPSUBITEM     IDM_EDITREDO,         PANEL_EDITREDO
  HELPSUBITEM     IDM_EDITCUT,          PANEL_EDITCUT
  HELPSUBITEM     IDM_EDITCOPY,         PANEL_EDITCOPY
  HELPSUBITEM     IDM_EDITPASTE,        PANEL_EDITPASTE
  HELPSUBITEM     IDM_EDITSELALL,       PANEL_EDITSELALL
  HELPSUBITEM     IDM_EDITCLEAR,        PANEL_EDITCLEAR
  HELPSUBITEM     IDM_EDITFIND,         PANEL_EDITFIND
  HELPSUBITEM     IDM_EDITFINDNEXT,     PANEL_EDITFINDNEXT
  HELPSUBITEM     IDM_EDITFINDPREVIOUS, PANEL_EDITFINDPREVIOUS
  HELPSUBITEM     IDM_EDITFILEFIND,     PANEL_EDITFILEFIND
  HELPSUBITEM     IDM_EDITPREVERR,      PANEL_EDITPREVERROR
  HELPSUBITEM     IDM_EDITNEXTERR,      PANEL_EDITNEXTERR
  HELPSUBITEM     IDM_EDITGOTOLINE,     PANEL_EDITGOTOLINE

  HELPSUBITEM     IDM_OPTIONS,          PANEL_OPTIONS
  HELPSUBITEM     IDM_OPTSETTINGS,      PANEL_OPTSETTINGS
  HELPSUBITEM     IDM_OPTASS,           PANEL_OPTASSOCIATIONS
  HELPSUBITEM     IDM_OPTMACROS,        PANEL_OPTMACROS

  HELPSUBITEM     IDM_WORKPLACE,        PANEL_WORKPLACE
  HELPSUBITEM     IDM_WPNEW,            PANEL_WPNEW
  HELPSUBITEM     IDM_WPLIST,           PANEL_WPLIST
  HELPSUBITEM     IDM_WPSAVEAS,         PANEL_WPSAVEAS
  HELPSUBITEM     IDM_WPTEMPLATES,      PANEL_WPTEMPLATES
  HELPSUBITEM     IDM_WPPROPERTIES,     PANEL_WPPROPERTIES

  HELPSUBITEM     IDM_TOOLS,            PANEL_TOOLS
  HELPSUBITEM     IDM_TOOLCONFIGURE,    PANEL_TOOLCFG

  HELPSUBITEM     IDM_PROJECT,          PANEL_PROJECT
  HELPSUBITEM     IDM_PROJNEW,          PANEL_PROJNEW
  HELPSUBITEM     IDM_PROJOPEN,         PANEL_PROJOPEN
  HELPSUBITEM     IDM_PROJCLOSE,        PANEL_PROJCLOSE
  HELPSUBITEM     IDM_PROJMODIFY,       PANEL_PROJMODIFY
  HELPSUBITEM     IDM_PROJEDTEXT,       PANEL_PROJEDTEXT

  // IDM_WINDOW menu defined in MDI.H
  HELPSUBITEM     IDM_WINDOW,           PANEL_WINDOW
  HELPSUBITEM     IDM_WINCASCADE,       PANEL_WINCASCADE
  HELPSUBITEM     IDM_WINMAXALL,        PANEL_WINMAXALL
  HELPSUBITEM     IDM_WINCLOSEALL,      PANEL_WINCLOSEALL
  HELPSUBITEM     IDM_WINSRCLIST,       PANEL_WINSRCLIST
  HELPSUBITEM     IDM_WINMSGLIST,       PANEL_WINMSGLIST
  HELPSUBITEM     IDM_WINREPOPUP,       PANEL_WINRECALLPOPUP
  HELPSUBITEM     IDM_WINREXXMON,       PANEL_WINREXXMON

  HELPSUBITEM     IDM_HELP,             PANEL_MIHELP
  HELPSUBITEM     IDM_HELPINDEX,        PANEL_MIHELPINDEX
  HELPSUBITEM     IDM_HELPGENERAL,      PANEL_MIHELPGENERAL
  HELPSUBITEM     IDM_HELPUSINGHELP,    PANEL_MIHELPUSINGHELP
  HELPSUBITEM     IDM_HELPKEYS,         PANEL_MIHELPKEYS
  HELPSUBITEM     IDM_HELPPRODUCTINFO,  PANEL_MIHELPPRODUCTINFO

  HELPSUBITEM     IDM_POP_FONT,         PANEL_IDM_POP_FONT
  HELPSUBITEM     IDM_POP_SORT,         PANEL_IDM_POP_SORT
  HELPSUBITEM     IDM_POP_DEFAULT,      PANEL_IDM_POP_DEFAULT
  HELPSUBITEM     IDM_POP_UNSORTED,     PANEL_IDM_POP_UNSORTED
  HELPSUBITEM     IDM_POP_COPY,         PANEL_IDM_POP_COPY
  HELPSUBITEM     IDM_POP_FULLNAMES,    PANEL_IDM_POP_FULLNAMES
  HELPSUBITEM     IDM_POP_SELFILES,     PANEL_IDM_POP_SELFILES
  HELPSUBITEM     IDM_POP_UNSELFILES,   PANEL_IDM_POP_UNSELFILES
  HELPSUBITEM     IDM_POP_INVSELFILES,  PANEL_IDM_POP_INVSELFILES
  HELPSUBITEM     IDM_POP_FILEFIND,     PANEL_IDM_POP_FILEFIND
  HELPSUBITEM     IDM_POP_GROUPS,       PANEL_IDM_POP_GROUPS
  HELPSUBITEM     IDM_POP_AGROUP,       PANEL_IDM_POP_AGROUP
  HELPSUBITEM     IDM_POP_1GROUP,       PANEL_IDM_POP_1GROUP
  HELPSUBITEM     IDM_POP_2GROUP,       PANEL_IDM_POP_2GROUP
  HELPSUBITEM     IDM_POP_3GROUP,       PANEL_IDM_POP_3GROUP
  HELPSUBITEM     IDM_POP_4GROUP,       PANEL_IDM_POP_4GROUP
  HELPSUBITEM     IDM_POP_5GROUP,       PANEL_IDM_POP_5GROUP
  HELPSUBITEM     IDM_POP_6GROUP,       PANEL_IDM_POP_6GROUP
  HELPSUBITEM     IDM_POP_7GROUP,       PANEL_IDM_POP_7GROUP
  HELPSUBITEM     IDM_POP_8GROUP,       PANEL_IDM_POP_8GROUP
  HELPSUBITEM     IDM_POP_9GROUP,       PANEL_IDM_POP_9GROUP
  HELPSUBITEM     IDM_POP_GOBM0,        PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+1,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+2,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+3,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+4,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+5,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+6,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+7,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+8,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_GOBM0+9,      PANEL_IDM_POP_GOBM
  HELPSUBITEM     IDM_POP_SETBM0,       PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+1,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+2,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+3,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+4,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+5,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+6,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+7,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+8,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_SETBM0+9,     PANEL_IDM_POP_SETBM
  HELPSUBITEM     IDM_POP_WBBCLOSE,     PANEL_IDM_POP_WBBCLOSE
  HELPSUBITEM     IDM_POP_WBBRESTORE,   PANEL_IDM_POP_WBBRESTORE
  HELPSUBITEM     IDM_POP_WBBMAXIMIZE,  PANEL_IDM_POP_WBBMAXIMIZE
  HELPSUBITEM     IDM_POP_WBBHIDE,      PANEL_IDM_POP_WBBHIDE
  HELPSUBITEM     IDM_POP_WBBVTILE,     PANEL_IDM_POP_WBBVTILE
  HELPSUBITEM     IDM_POP_WBBHTILE,     PANEL_IDM_POP_WBBHTILE
  HELPSUBITEM     IDM_POP_MVGROUPS,     PANEL_IDM_POP_MVGROUPS
  HELPSUBITEM     IDM_POP_MVAGROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV1GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV2GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV3GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV4GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV5GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV6GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV7GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV8GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_MV9GROUP,     PANEL_IDM_POP_MV2GROUP
  HELPSUBITEM     IDM_POP_WBFONT,       PANEL_IDM_POP_WBFONT
  HELPSUBITEM     IDM_POP_WBCOLORS,     PANEL_IDM_POP_WBCOLORS
  HELPSUBITEM     IDM_POP_WBWARP,       PANEL_IDM_POP_WBWRAP
  HELPSUBITEM     IDM_POP_UNSELALL,     PANEL_IDM_POP_UNSELALL
  HELPSUBITEM     IDM_POP_NAME,         PANEL_IDM_POP_NAME
  HELPSUBITEM     IDM_POP_TYPE,         PANEL_IDM_POP_TYPE
  HELPSUBITEM     IDM_POP_NEWFILE,      PANEL_IDM_POP_NEWFILE
  HELPSUBITEM     IDM_POP_NEWFILE,      PANEL_IDM_POP_NEWFILE
  HELPSUBITEM     IDM_POP_CLOSEWIN,     PANEL_IDM_POP_CLOSEWINDOW
  HELPSUBITEM     IDM_POP_CLOSEWIN,     PANEL_IDM_POP_CLOSEWINDOW
}

/***************************  End of help.rc ****************************/


